:root{
  --hover-color: lightgrey;
  --current-day-highlight-color: #0067c0;
  --current-day-text-color: white;
  --up-and-down-color: grey;
}

body{
  background-image: url("https://raw.githubusercontent.com/notAperson535/Win11-HTML/main/img/background.jpg");
  overflow: hidden;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all .2s ease;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI Variable', sans-serif;
  user-select: none;
  --fakeMica: #f3f3f3 radial-gradient(#eff4f9 75%,#f3f3f3 100%) no-repeat fixed;
}

.taskbar{
  -webkit-backdrop-filter: saturate(3) blur(20px);
  backdrop-filter: saturate(3) blur(20px);
  background-color: rgba(255,255,255,.80);
  width: 100%;
  min-width: 100%;
  position: absolute;
  bottom: 0;
  margin:0;
  padding:0;
  height: 48px;
  display:flex;
  align-items: center;
  justify-content: center;
  z-index: 11000;
}

.taskbariconsleft{
  position: absolute;
  display: flex;
  left: 10;
}

.taskbariconscenter{
  display: flex;
}

.taskbariconsright{
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 3;
  right: 10;
  float: right;
}

.actioncenter:hover{
  background-color: white;
  border-radius: 3px;
}

.actioncenter{
  display: flex;
  margin: 0px 5px;
  padding-top: 10px;
  padding-bottom: 10px;;
}

.actioncenter img{
  margin-right: 5px;
  margin-left: 5px;
}

.taskbariconsright img{
  height: 20px;
}

.timeanddate{
  font-size: 13px;
  text-align: right;
  padding: 4px;
  padding-left: 10px;
}

.timeanddate:hover{
  background-color: white;
  border-radius: 3px;
}

.moreapps{
  display: flex;
  align-items: center;
  height: 38px;
}

.moreapps img{
  margin: 0px 5px;
  width: 12px;
}

.moreapps:hover{
  background-color: white;
  border-radius: 3px;
}

#clock{
  margin: 0px;
}

#date{
  margin: 0px;
}

.calendar{
  position: absolute;
  right: -655px;
  bottom: 51;
  border-radius: 5px;
  overflow: hidden;
  -webkit-backdrop-filter: saturate(3) blur(20px);
  backdrop-filter: saturate(3) blur(20px);
  z-index: 13000;
  transition: all .2s cubic-bezier(.79,.14,.15,.86);
}

.dycalendar-container{
  background-color: #e6edf8;
}

.calendarheader{
  display: flex;
  align-items: center;
  height: 50px;
  background-color: #dae2f2;
}

#calendarheadertext{
  display: flex;
  margin-left: 13px;
  font-size: 14px;
}

.center{
  display: flex;
  justify-content: center;
}

.taskbariconsimg {
  width: 25px;
  transition: all .1s;
}

.taskbaricons{
  margin: 0px 9.5px;
  width: 25px;
  height: 25px;
  text-align: center;
}

.taskbariconsimg:active{
  margin-top: 3.125px;
  width: 18.75px;
}

.taskbariconhighlight{
  position: absolute;
  bottom: 5px;
  height: 3px;
  border-radius: 5px;
  width: 7.5px;
  background-color: blue;
  opacity: 0;
  transition: all .25s cubic-bezier(.85,.14,.14,.85), opacity 200ms linear;
}

.taskbaricons:hover{
  margin: -7px 2.5px;
  border: solid 7px white;
  background-color: white;
  border-radius:5px;
}

.sTop{
   margin-top: 25px;
   margin-bottom: 25px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.allapps img{
  height: 20px;
  border-radius: 4px;
  margin-right: 45px;
}

.startmenu{
  position: absolute;
  backdrop-filter: blur(20px);
  background-color: rgba(255,255,255,.80);
  bottom: -675px;
  height: 650px;
  width: 625px;
  transition: all .2s cubic-bezier(.79,.14,.15,.86);
  border-radius: 8px; 
  border: 1.5px solid #B4B4B4;
  z-index: 11000;
}

.pinnedlabel{
  margin-top: -5px;
  margin-left: 45px;
}

.sAppscontainer{
  display: grid;
  justify-items: center;
}

.sApps{
  position: absolute;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
}

.starticons img{
  display: block;
  margin: 0 auto;
  margin-top: 12px;
  width:30px;
}

.starticons{
  width: 100px;
  font-size: 13px;
}

.starticons:hover{
  background: white;
  width: 100px;
  border-radius: 5px;
}

.startlabels{
  margin-top: 3px
}

.searchmenu{
  position: absolute;
  bottom: -655px;
  text-align: center;
  transition: all .2s cubic-bezier(.79,.14,.15,.86); 
  z-index: 11000;
}

.searchmenu img{
  height: 600;
  border-radius: 8px;
}

.widgetsmenu{
  position: absolute;
  left: -1000px;
  transition: all .2s cubic-bezier(.79,.14,.15,.86); 
  z-index: 10000;
}

.widgetsmenu img{
  width: 575px;
  border-radius: 8px;
}

.app {
  position: fixed;
  box-shadow: 1px 10px 50px #969696;
  border-radius: 10px;
  border: 1.5px solid #B4B4B4;
  overflow: hidden;
  width: 0%;
  height: 0%;
  opacity: 0;
  top: 50%;
  left: 50%;
  opacity: 0;
  transition: all .25s cubic-bezier(.85,.14,.14,.85), opacity 200ms linear;
  z-index: 1;
}

.headerleftside {
  font-size: 13px;
  display: flex;
  align-items: center;
}

.headerleftside img{
  width: 20px;
  margin: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

.appheader{
  display:flex;
  background: var(--fakeMica);
  justify-content: space-between;
  max-height: 30px;
  height: 30px;
  min-height: 30px;
  overflow: hidden;
}

.edgeappheader{
  height: 38px;
  min-height: 38px;
}

.notepaddropdownmenus{
  background: var(--fakeMica);
  display: flex;
  height: 35px;
  align-items: center;
}

.notepaddropdownmenus p{
  font-size: 14px;
  margin: 5px 13px;
  display: flex;
}

.notepadtext{
  resize: none;
  font-size: 15px;
  width: 100%;
  height: calc(100% - 65px);
  border: none;
  font-family: Consolas,monospace;
  font-weight: 500;
  background-color: #f9f9f9;
  padding: 10px;
}

.notepadtext:focus{
  outline: none;
}

.appIframe{
  height: calc(100% - 29px);
  min-height: calc(100% - 29px);
  width: 100%;
  border-width: 0px;
  background-color: white;
}

.edgeappIframe{
    height: calc(100% - 72px);
    min-height: calc(100% - 72px);
}

.loadingimg{
  width: 100%;
  height: calc(100% - 29px);
  background-color: white;
}

.loadinggif{
  position: absolute;
  left: 40%;
  top: 60%;
  width: 20%;
  margin: auto;
}

.headerrightside {
  display: flex;
  align-items: center;
}

.headerrightside img{
  width: 15px;
  margin: 15px;
}

.close:hover{
  background: red;
}

.maximize:hover{
  background: #c4c4c4;
}

.maxminimage{
  display: none;
}

.maxmin:hover{
  background: #c4c4c4;
}

.minimize:hover{
  background: #c4c4c4;
}

.edgeurlarea{
  background: var(--fakeMica);
  display: flex;
  align-items: center;
  height: 35px;
  max-height: 35px;
  overflow: hidden;
}

.edgeurlarea img{
  width: 20px;
  margin: 10px;
}

.edgetab{
  background-color: white;
  box-shadow: 1px 3px 10px lightgrey;
  width: 200px;
  display:flex;
  align-items: center;
  margin-left: 16px;
  height: 30px;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
}

.edgetableft{
  display: flex;
}

.edgetabright{
  display: flex;
  margin-right: 10px;
}

.edgetabright:hover{
  background-color: var(--hover-color);
  border-radius: 1px;
  border: solid 2px var(--hover-color);
  margin: 8px;
}

.edgetab img{
  width: 17px;
  height: 17px;
  margin-left: 10px;
}

.edgeurlbar{
  border: none;
  height: 30px;
  box-shadow: .1px .1px 5px rgb(230, 230, 230);
  border-radius: 3px;
  margin: 15px;
  width: 100%;
  overflow: hidden;
}

.edgeurlbar:focus{
  outline: none;
}

.maximizeandmaxmin{
  display: flex;
}

.edgeprofilepicture{
  border-radius: 15px;
}

.resizer {
  position: absolute;
  width: 10px;
  height: 10px;
}
.resizer.top-left {
  top: -1px;
  left: -1px;
  cursor: nw-resize;
}
.resizer.top-right {
  top: -1px;
  right: -1px;
  cursor: ne-resize;
}

.resizer.bottom-left {
  bottom: -1px;
  left: -1px;
  cursor: sw-resize;
}
.resizer.bottom-right {
  bottom: -1px;
  right: -1px;
  cursor: se-resize;
}

.hidden{
  display: none;
}