body{
  background-image: url("img/background.jpg");
  overflow: hidden;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  transition: all .2s ease;
  margin:0;
  padding:0;
  font-family: 'Segoe UI Variable', sans-serif;
  user-select: none;
}

.taskbar{
  backdrop-filter: saturate(3) blur(20px);
  background-color: rgba(255,255,255,.80);
  width: 100%;
  position: absolute;
  bottom: 0;
  margin:0;
  padding:0;
  height:47px;
  display:flex;
  align-items: center;
  justify-content: center;
  z-index: 11;
}

.taskbaricons {
  width:25px;
  margin: 11px 10px;
}

.taskbaricons:hover{
  margin: 6px 5px;
  border:solid 5px white;
  backdrop-filter: blur(20px);
  background-color: rgba(255,255,255,.80);
  border-radius:5px;
}

.center{
  display: flex;
  justify-content: center;
}

.sTop{
   margin-top: 25px;
   margin-bottom: 25px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.allapps img{
  height: 20px;
  border-radius: 4px;
  margin-right: 45px;
}

.startmenu{
  position: absolute;
  backdrop-filter: blur(20px);
  background-color: rgba(255,255,255,.80);
  bottom: -655px;
  height: 650px;
  width: 625px;
  transition: all 0.3s ease-in;
  border-radius: 8px; 
  z-index: 10;
}

.pinnedlabel{
  margin-left: 45px;
  margin-bottom: 0px;
  margin-top: -5px;
}

.sApps{
  position: absolute;
}

.startrow{
  display: flex;
  justify-content: center;
  margin-left: 15px;
  width: 595px;
  max-width: 595px;
}

.starticons img{
  display: block;
  margin: 0 auto;
  margin-top: 12px;
  width:30px;
}

.starticons{
  width: 100px;
  font-size: 13px;
}

.startlabels{
  margin-top: 3px
}

.starticons:hover{
  background: white;
  width: 100px;
  border-radius: 5px;
}

.searchmenu{
  position: absolute;
  bottom: -655px;
  width: 100%;
  text-align: center;
  transition: all 0.3s ease-in; 
  z-index: 10;
}

.searchmenu img{
  height: 600;
  border-radius: 8px;
}

.widgetsmenu{
  position: absolute;
  left: -1000px;
  width: 100%;
  transition: all 0.3s ease-in; 
  z-index: 10;
}

.widgetsmenu img{
  width: 575px;
  border-radius: 8px;
}

.edgeapp {
  position: absolute;
  z-index: 9;
  border: 1px solid #B4B4B4;
  box-shadow: 1px 1px 50px #969696;
  border-radius: 5px;
  overflow: hidden;
  resize: both;
  width: 850px;
  height: 550px;
  opacity: 0;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  transition: opacity 200ms linear;
}


.edgeheaderleftside {
  font-size: 13px;
  display: flex;
  align-items: center;
}

.edgeheaderleftside img{
  width: 20px;
  margin: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

.edgeappheader{
  display:flex;
  background-color: #CDCDCD;
  justify-content: space-between;
  max-height: 30px;
  overflow: hidden;
}

.edgeheaderrightside {
  display: flex;
  align-items: center;
}

.edgeheaderrightside img{
  width: 15px;
  margin: 15px;
}

.edgeclose:hover{
  background: red;
}

.edgemaximize:hover{
  background: #c4c4c4;
}

.edgemaxmin:hover{
  background: #c4c4c4;
}

.edgeminimize:hover{
  background: #c4c4c4;
}

.edgeurlarea{
  background-color: #F7F7F7;
  box-shadow: 1px 1px 65px #969696;
  display: flex;
  align-items: center;
  height: 36px;
  max-height: 35px;
  overflow: hidden;
}

.edgeurlarea img{
  width: 20px;
  margin: 10px;
}

.edgetab{
  background-color: white;
  width: 175px;
  display:flex;
  align-items: center;
  margin-left: 16px;
  height: 30px;
  border-radius: 3px 3px 0px 0px;
}

.edgetab img{
  width: 17px;
  height: 17px;
  margin-left: 10px;
}

.edgeurlbar{
  border: none;
  height: 30px;
  box-shadow: .1px .1px 65px #969696;
  border-radius: 3px;
  margin: 15px;
  width: 100%;
  overflow: hidden;
}

.edgeurlbar:focus{
  outline: none;
}

#edgemaxmin{
  display: none;
}

.edgemaximizeandmaxmin{
  display: flex;
}

.edgeprofilepicture{
  border-radius: 15px;
}